:root {
    --bg-sepia: rgb(245, 235, 215);
    --alt-sepia: #eedecb;
    --font-sepia: rgb(60, 45, 35);
}

body {
    margin-top: 80px;
    /* because of navbar */
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-sepia);
}

hr {
    border-color: #ebdec2;
}

footer {
    margin: 50px 0;
}

span {
    font-size: 0.9em;
}

.about,
.cv {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.5em;
    line-height: 2em;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--bg-sepia) !important
}

.nav_lesser {
    font-size: 2em;
    font-weight: bold;
}

.nav_lesser:hover {
    color: var(--bg-sepia) !important
}

.publication {
    display: flex;
    flex-direction: row;
}

.left-award {
    margin: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1.5em;
    min-width: 33px;
}

.left {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.5em;
}

.right {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.right>h2 {
    margin-top: 10px;
}

.button {
    background-color: transparent;
    width: 100%;
    font-size: 1.5em;
    box-shadow: none;
    border: solid black 1px;
    border-radius: 0.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #ff6150;
    color: var(--bg-sepia);
    font-weight: 600;
}

.button:hover {
    background-color: var(--bg-sepia);
    color: #ff6150;
    transition: 0.1s;
}

.buttonClicked {
    background-color: rgb(175, 230, 173);
    width: 100%;
    font-size: 1.5em;
    box-shadow: none;
    border: solid black 1px;
    border-radius: 0.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-weight: 600;
}

.vertical-center {
    min-height: 80px;
}

.navbar-nav>li {
    padding-top: 15px;
    padding-right: 10px;
}

a {
    color: #ff6150;
}

a:hover {
    color: #ff4935;
}

@media (max-width: 480px) {
    ul {
        padding: 0.2em 0 0.2em 0;
    }

    .navbar-nav>li {
        padding: 0.3em 0 0.3em 0;
        min-height: 40px;
    }

    .navbar-nav>li>a {
        padding: 0.2em 0 0.2em 0;
    }

    .right {
        margin-right: 5px;
    }

    body {
        font-size: 1.2rem;
    }

    body {
        margin-top: 150px;
    }
}