body {
	margin-top: 60px; /* because of navbar */
    font-family: "Open Sans", sans-serif;
}

footer {
	margin: 50px 0;
}

span {
    font-size: 0.9em;
}

.about {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.5em;
    line-height: 2em;
}

.navbar-brand {
    font-size: 1.5em;
}

.nav_lesser {
    font-size: 1.5em;
}

.cv_container {
    padding: 1rem 2rem 1rem 2rem;
}

.cv {
    font-size: 1.5em;
    padding-bottom: 1rem;
}

.publication {
    display: flex;
}

.left-award {
    margin: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1.5em;
    width: 2%;
}

.left {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.5em;
    width: 100%;
}

.right {
    margin: 1rem 2rem 1rem 1rem;
    width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.button {
    background-color: transparent;
    width: 100%;
    font-size: 1.5em;
    box-shadow: none;
    border: solid black 1px;
    border-radius: 0.9em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.button:hover {
    background-color: lightgray;
    transition: 0.1s;
}

.buttonClicked {
    background-color: rgb(175, 230, 173);
    width: 100%;
    font-size: 1.5em;
    box-shadow: none;
    border: solid black 1px;
    border-radius: 0.9em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}